@model IEnumerable<NecessaryDrugs.Web.Areas.Admin.Models.StockViewModel>
@{ ViewData["Title"] = "Index";}

<div class="col-md-12" id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>

@section Scripts{
    <script>
        jQueryAjaxDelete = form => {
            if (confirm('Are you sure to delete this record ?')) {
                try {
                    $.ajax({
                        type: 'POST',
                        url: form.action,
                        data: new FormData(form),
                        contentType: false,
                        processData: false,
                        success: function (res) {
                            $('#view-all').html(res.html);
                        },
                        error: function (err) {
                            console.log(err)
                        }
                    })
                } catch (ex) {
                    console.log(ex)
                }
            }

            //prevent default form submit event
            return false;
        }

    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}