@{
    ViewData["Title"] = "OrderSucceeded";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 p-2 bg-white text-center">
    <div class="h-100 d-flex justify-content-center align-items-center">
        <h2 class="text text-primary text-bold">Your order is Placed Successfully!!</h2>
    </div>
</div>
